a, a *, button, label, option, select {
    cursor: pointer;
}

p, a, button, label, input, h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-body;
    font-weight: $font-weight-body;
    margin: 0.5em 0;
}

p, a {
    font-size: $font-size-small-link;
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


h1 {
    font-size: $font-size-body-header;
}

h2 {
    font-size: $font-size-body-subheader;
}

html {
    overflow-y: scroll;
}

::selection {
    background: #ffff99;
    color: #686800;
    text-shadow: none;
}

.clear-fix {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

div, img, section {
    box-sizing: border-box;
}

a, a *, button, label, option, select, .btn, .img-link {
    cursor: pointer;
}
