//NORMAL LAPTOP/DESKTOP ~1280x800 PIXELS */

//FONT WEIGHTS
$font-weight-body: 300;

//FONT SIZES
$font-size-body: 16px;
$font-size-body-header: 45px;
$font-size-body-subheader: 24px;
$font-size-small-link: 13px;
$font-size-logo: 32px;

//FONT FAMILIES
$font-family-body: Nunito,verdana,arial,sans-serif;

//BOX SIZES

$top-bar-height: 95px;
$width-main-small-tablet-portrait: 650px;
$width-main-small-tablet-landscape: 800px;
$width-main-large-tablet-portrait: 750px;
$width-main-large-tablet-landscape: 900px;
$width-main-laptop: 1000px;
$width-main-monitor: 1200px;

//
$column-margin: 1.5%;
