@import 'constants';
@import 'base';

//NORMAL LAPTOP/DESKTOP ~1280x800 PIXELS */

#top-bar-logo {
    font-size: $font-size-logo;
    display: inline-block;
    margin: 26px 20px 0 0;
    width: 120px;
    vertical-align: middle;
    color: white;
    float: left;

    &:hover {
        text-decoration: none;
    }
}

body {
    background-color: #e3e3e3;
    margin: 0;
    padding: 0;

    &:before {
        width: 100%;
        height: $top-bar-height;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: royalblue;
    }
}

.top-bar-container {
    //TODO: make this auto so that it changes based on content in bar
    height: $top-bar-height; 
    width: auto;
    margin-left: auto;
    margin-right: auto;

    .login-container {
        margin-top: 10px;
        float: right;
    }

    .login-message a {
        color: white;
        line-height: 2 * $font-size-small-link;
    }
}

.divider {
    height: 30px;
    background-color: grey;
    padding: 15px 0;
}

.value-grid {
    background-color: whitesmoke;
    .value-grid-container {
        .column {
            background-color: lime;
        }
    }
}

.site-container {
    position: relative;
    width: 100%; 
    margin-left: auto;
    margin-right: auto;
    text-align: left;

}

.slide-container {
    height: 470px;
    position: relative;
    border-top: 1px solid white;
}

.slide-panel {
    width: 100%;
    position: absolute;
    top: 0;
    height: 470px;
    transition: all 0.5s cubic-bezier(0.77,0,0.175,1);

    &.left-panel {
        background-color: #4cbe7b;
        h1, h2, p, a { color: white; }
    }
}

.slide-panel-content-container {
    padding-top: 30px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 40px;

    p {
        width: 85%;
        margin: 0 auto 30px;
    }
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.tagline {
    display: inline-block;
    margin: 39px 0;
    font-family: Georgia,serif;
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    color: #999999;
    float: left;
}

.clear-fix {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

html {
    overflow-y: scroll;
}

::selection {
    background: #ffff99;
    color: #686800;
    text-shadow: none;
}

%column {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    padding: 1%;
}

.multicolumn-2 .column-1 {
    @extend %column;
    width: (100% / 2) - ($column-margin / 2);
    margin-left: $column-margin;
}

.multicolumn-2 .column-2 {
    @extend %column;
    width: (100% / 2) - ($column-margin / 2);
}

.multicolumn-3 .column-1,
.multicolumn-3 .column-2 {
    @extend %column;
    width: (100% / 3) - (2 * $column-margin / 3);
    margin-left: $column-margin;
}

.multicolumn-3 .column-3 {
    @extend %column;
    width: (100% / 3) - (2 * $column-margin / 3);
}

.multicolumn-4 .column-1,
.multicolumn-4 .column-2,
.multicolumn-4 .column-3 {
    @extend %column;
    width: (100% / 4) - (3 * $column-margin / 4);
    margin-left: $column-margin;
}

.multicolumn-4 .column-4 {
    @extend %column;
    width: (100% / 4) - (3 * $column-margin / 4);
}


//responsive sizes

//small phone 
@media screen 
  and (max-device-width: 560px) {
    body {
        width: 100%;
    }           
}

//large phone 
@media screen 
  and (min-device-width: 560px) 
  and (max-device-width: 760px) {
    body {
        width: 100%;
    }            
}

//smaller tablet portrait
@media screen 
  and (min-device-width: 760px) 
  and (max-device-width: 1020px)
  and (orientation: portrait) {
    .top-bar-container {
        max-width: $width-main-small-tablet-portrait;
    }
    
    .slide-panel-content-container {
        width: $width-main-small-tablet-portrait;
    }
}

//smaller tablet landscape
@media screen 
  and (min-device-width: 760px) 
  and (max-device-width: 1020px)
  and (orientation: landscape) {
    .top-bar-container {
        max-width: $width-main-small-tablet-landscape;
    }
    
    .slide-panel-content-container {
        width: $width-main-small-tablet-landscape;
    }
}

//large tablet portrait
@media screen 
  and (min-device-width: 1020px) 
  and (max-device-width: 1280px)
  and (orientation: portrait) {
    .top-bar-container {
        max-width: $width-main-large-tablet-portrait;
    }
    
    .slide-panel-content-container {
        width: $width-main-large-tablet-portrait;
    }
}

//large tablet landscape
@media screen 
  and (min-device-width: 1020px) 
  and (max-device-width: 1280px)
  and (orientation: landscape) {
    .top-bar-container {
        max-width: $width-main-large-tablet-landscape;
    }
    
    .slide-panel-content-container {
        width: $width-main-large-tablet-landscape;
    }
}

//laptop 
@media screen 
  and (min-device-width: 1280px) 
  and (max-device-width: 1600px) {
    .top-bar-container {
        max-width: $width-main-laptop;
    }

    .slide-panel-content-container {
        width: $width-main-laptop;
    }
}

//large monitor
@media screen 
and (min-device-width: 1600px) {
    .top-bar-container {
        max-width: $width-main-monitor;
    }

    .slide-panel-content-container {
        width: $width-main-monitor;
    }
}


