@import 'constants';
@import 'general_use';
@import 'base';

//NORMAL LAPTOP/DESKTOP ~1280x800 PIXELS */

#top-bar-logo {
    font-size: $font-size-logo;
    display: inline-block;
    margin: 26px 20px 0 0;
    width: 120px;
    vertical-align: middle;
    color: white;
    float: left;

    &:hover {
        text-decoration: none;
    }
}

body {
    background-color: #e3e3e3;
    margin: 0;
    padding: 0;

    &:before {
        width: 100%;
        height: $top-bar-height;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: black;
    }
}

.top-bar-container {
    //TODO: make this auto so that it changes based on content in bar
    height: $top-bar-height; 
    width: auto;
    margin-left: auto;
    margin-right: auto;

    .login-container {
        margin-top: 10px;
        float: right;
    }

    .login-message {
        width: 180px;
        
        a {
            color: white;
            line-height: 2 * $font-size-small-link;
            margin: 0 2%;
        }
    }
}

.divider {
    height: 30px;
    background-color: grey;
    padding: 15px 0;
}

.value-grid {
    background-color: rgba(whitesmoke, 0.5);
    height: 740px;
    padding-top: 30px;
    padding-bottom: 50px;

    .column-wrapper {
        margin: 0 15%;
        margin-top: 3%;
        
        .tile {
            margin-bottom: 8%;
        }
    }
}

.site-container {
    position: relative;
    width: 100%; 
    margin-left: auto;
    margin-right: auto;
    text-align: left;

}

.slide-container {
    height: $height-main-slide-panel;
    position: relative;
    border-top: 1px solid white;
    overflow: hidden;
}

.slide-panel {
    width: 100%;
    position: absolute;
    top: 0;
    height: $height-main-slide-panel;
    transition: all 0.5s cubic-bezier(0.77,0,0.175,1);
    h1, h2, p, a { color: white; }

    .split-pane {
        height: $height-main-slide-panel;
    }
    
    .left-split-pane {
        background-color: $green-swatch;
    }

    .right-split-pane {
        background-color: $blue-swatch;
    }
    
    &.no-transition {
        transition: none;
    }
    
    &.center-panel {
        left: 0;
    }
    
    &.left-panel {
        left: -100%;
        background-color: $green-swatch;
    }

    &.right-panel {
        left: 100%;
        background-color: $blue-swatch;
    }

    //&:not(.active) .slide-container-arrow {
    //    display: none;
    //}
                    
}

.slide-panel-content-container {
    padding-top: 30px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 40px;

    p {
        width: 85%;
        margin: 0 auto 30px;
    }
}

.subheading-and-button {
    width: 300px;
    margin: 0px auto;
}

.cta-btn {
    color: white;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding: 10px 50px;
    font: 400 16px/16px Nunito, verdana, arial, sans-serif;
    border-radius: 5px;
    border: 2px solid white;
    width: 100%;
    box-sizing: border-box;
}

.blue {
    background-color: $blue-swatch;
}

.green {
    background-color: $green-swatch;
}

.black {
    background-color: black;
}

.slide-container-arrow {
    width: 70px;
    height: 70px;
    cursor: pointer;
    position: absolute;
    top: 125px;
    border: rgba(white, 0.3) 1px solid;
    border-radius: 35px;

    &.slide-container-arrow-left {
        left: 10px;
        &:before {
            content: "\2190";
            left: 14px;
            top: 10px;
            position: absolute;
        }
    }
    &.slide-container-arrow-right {
        right: 10px;
        &:before {
            content: "\2192";
            right: 14px;
            top: 10px;
            position: absolute;
        }
    }
    &:before {
        font-size: 40px;
        font-weight: 100;
        color: rgba(white, 0.4);
    }
}

.split {
    &.split-horizontal .split-pane {
        float: left;
        width: 50%;
        display: block;
    }
}

.tagline {
    display: inline-block;
    margin: 39px 0;
    font-family: Georgia,serif;
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    color: #999999;
    float: left;
}

.tile {
    background-color: white;
    margin-bottom: 1%;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 0px;
    
    .btn {
        border-top: 1px solid rgb(221, 221, 221);
        width: 100%;
        height: 50px;
        line-height: 50px;
        padding: 0;
        font-weight: 300;
        font-size: 16px;
        background-color: rgba(lightgrey, 0.8);
        color: black;
        text-align: center;
        a { text-decoration: none; }
    }
}

.img-link {
    padding: 15px 15px 0 15px;
    width: 170px;
    height: 170px;
    display: block;
    overflow: hidden;
    
    div {
        height: 170px;
        width: 170px;
        background-position: 0px 0px;
        display: inline-block;
        background-size: 170px 170px;
        background-repeat: no-repeat;
        background-image: url("//localhost:8000/img/default-house.png");
    }
}

.catch-you-later-panel {
    height: 250px;
    padding: 5%;
    
    .split-pane {
        height: 200px;
    }
}

.why-us-panel {
    height: 200px;
    padding: 3%;
    background-color: rgba(whitesmoke, 0.5);
}

.faq-panel {
    height: 250px;
    padding: 3%;
    background-color: rgba(darkgrey, 0.8);
}

//responsive sizes

//small phone 
@media screen 
  and (max-device-width: 560px) {
    body {
        width: 100%;
    }           
}

//large phone 
@media screen 
  and (min-device-width: 560px) 
  and (max-device-width: 760px) {
    body {
        width: 100%;
    }            
}

//smaller tablet portrait
@media screen 
  and (min-device-width: 760px) 
  and (max-device-width: 1020px)
  and (orientation: portrait) {
    .top-bar-container {
        max-width: $width-main-small-tablet-portrait;
    }
    
    .slide-panel-content-container {
        width: $width-main-small-tablet-portrait;
    }
}

//smaller tablet landscape
@media screen 
  and (min-device-width: 760px) 
  and (max-device-width: 1020px)
  and (orientation: landscape) {
    .top-bar-container {
        max-width: $width-main-small-tablet-landscape;
    }
    
    .slide-panel-content-container {
        width: $width-main-small-tablet-landscape;
    }
}

//large tablet portrait
@media screen 
  and (min-device-width: 1020px) 
  and (max-device-width: 1280px)
  and (orientation: portrait) {
    .top-bar-container {
        max-width: $width-main-large-tablet-portrait;
    }
    
    .slide-panel-content-container {
        width: $width-main-large-tablet-portrait;
    }
}

//large tablet landscape
@media screen 
  and (min-device-width: 1020px) 
  and (max-device-width: 1280px)
  and (orientation: landscape) {
    .top-bar-container {
        max-width: $width-main-large-tablet-landscape;
    }
    
    .slide-panel-content-container {
        width: $width-main-large-tablet-landscape;
    }
}

//laptop 
@media screen 
  and (min-device-width: 1280px) 
  and (max-device-width: 1600px) {
    .top-bar-container {
        max-width: $width-main-laptop;
    }

    .slide-panel-content-container {
        width: $width-main-laptop;
    }
}

//large monitor
@media screen 
and (min-device-width: 1600px) {
    .top-bar-container {
        max-width: $width-main-monitor;
    }

    .slide-panel-content-container {
        width: $width-main-monitor;
    }
}


