<!DOCTYPE html>
<html lang="en-us">
<head>
  <title>TeeReal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/layout.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="site-container">
    <div class="top-bar-container">
      <a href="http://teereal.com" id="top-bar-logo">
        TeeReal
        <!-- <div class="teereal-logo"></div>-->
      </a>
      <h1 class="top-bar tagline">
        Where the realtors bid on the right to represent you.
      </h1>
      <div class="top-bar login-container">
        <div class="login-message">
          <a href="/login">Login</a>
          <a href="/signup">Signup</a>
        </div>
      </div>
    </div>
    
